.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: var(--tdq-font-size-small);
    color: var(--tdq-color4);
}

.githubLink {
    color: var(--tdq-color-accent);
}
